

* {
    box-sizing: border-box;
    margin: 0;
    
}
#cabecera{
    background-color: #F0EA5F;
    height: 13.78267830951685vw;
    text-align: center;
    font-size: 4.157894736842105vw;
    padding: 10px;
    font-family: Jost, sans-serif;
    font-weight: 700;
    clear: both;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    float: left;
    padding-right: 10px;

}
#tituloGeo{
    margin: 0;
    color: #0A663A;
}

